<div class="dateButton">
  <div class="prevButtonContainer">
    <button class="prevButton">Previous</button>
  </div>
  <div class="nextButtonContainer">
    <button class="nextButton">Next</button>
  </div>
  <div class="main-container">
    <div class="grid-container">
      <div class="days day1">
        <app-date-data></app-date-data>
      </div>
      <div class="days day2">
        <app-date-data></app-date-data>
      </div>
      <div class="days day3">
        <app-date-data></app-date-data>
      </div>
      <div class="days day4">
        <app-date-data></app-date-data>
      </div>
      <div class="days day5">
        <app-date-data></app-date-data>
      </div>
      <div class="days day6">
        <app-date-data></app-date-data>
      </div>
      <div class="days day7">
        <app-date-data></app-date-data>
      </div>
      <div class="days day8">
        <app-date-data></app-date-data>
      </div>
      <div class="days day9">
        <app-date-data></app-date-data>
      </div>
      <div class="days day10">
        <app-date-data></app-date-data>
      </div>
    </div>
  </div>
</div>
